.dialog {
    cursor: pointer;
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    grid-template-rows: repeat(2, 25px);
    grid-column-gap: 8px;
    grid-row-gap: 0;
    align-items: center;
    margin: 15px 0;
}

.logo {
    grid-area: 1 / 1 / 3 / 2;
}

.message {
    grid-area: 2 / 2 / 3 / 5;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
    height: 1.2em;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.fullName {
    grid-area: 1 / 2 / 2 / 5;
}

.status {
    grid-area: 1 / 5 / 3 / 6;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--blue);
}