.button {
    background-color: var(--blue);
    padding: 8px 10px;
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;
    border: none;
}

.button:disabled {
    background-color: var(--blackgrey);
    cursor: not-allowed;
}